@page "/authorize"

<PageTitle>Authorizing...</PageTitle>
<div class="authorize-page">
    <Spinner /> Authorizing you...
</div>

@code {

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }

}